x.log
doc/mlv7.aux
doc/mlv7.log
src/chopAu.awk~
flowtest/german.fss~
src/pbookPlotspecCpps.m~
src/pbookPlotspecCpps
src/runExtremeClips.sh~
src/\#c2c.m\#
src/.\#c2c.m
flowtest/correlations.txt
flowtest/correlations.txt
flowtest/extremes/dim01.txt
flowtest/extremes/dim04.txt
flowtest/extremes/dim07.txt
flowtest/extremes/dim10.txt
flowtest/extremes/dim14.txt
flowtest/extremes/dim09.txt
flowtest/extremes/dim03.txt
flowtest/extremes/dim12.txt
flowtest/extremes/dim16.txt
flowtest/extremes/dim19.txt
flowtest/extremes/dim22.txt
flowtest/extremes/dim20.txt
flowtest/extremes/dim08.txt
flowtest/extremes/dim23.txt
flowtest/hrloadings.txt
flowtest/reductionE/21d-l.txt
flowtest/reductionE/21d-r.txt
flowtest/sigmas.csv
flowtest/pbookCppsRed.fss~
src/tmpTestReduction.m~
src/lookupReductionEst.m~
src/pbookPlotspecCppsRedu.m~
flowtest/loadingplots/dim09hi.pdf
flowtest/loadingplots/dim09hi.png
flowtest/loadingplots/dim08lo.pdf
flowtest/loadingplots/dim08lo.png
flowtest/loadingplots/dim08hi.pdf
flowtest/extremes/dim02.txt
flowtest/extremes/dim21.txt
flowtest/loadingplots/dim01hi.pdf
flowtest/loadingplots/dim01lo.pdf
flowtest/loadingplots/dim02hi.png
flowtest/loadingplots/dim02lo.png
flowtest/loadingplots/dim03lo.pdf
flowtest/loadingplots/dim01hi.png
flowtest/loadingplots/dim03lo.png
flowtest/extremes/dim05.txt
flowtest/extremes/dim06.txt
flowtest/loadingplots/dim06hi.png
flowtest/loadingplots/dim07lo.png
flowtest/loadingplots/dim06lo.png
flowtest/loadingplots/dim08hi.png
flowtest/loadingplots/dim04hi.png
flowtest/loadingplots/dim01lo.png
flowtest/loadingplots/dim05lo.png
flowtest/loadingplots/dim05hi.png
flowtest/loadingplots/dim07hi.png
flowtest/extremes/dim24.txt
flowtest/extremes/dim25.txt
flowtest/loadingplots/dim04lo.png
flowtest/loadingplots/dim03hi.png
flowtest/loadingplots/dim09lo.png
